@import "_header.scss";

$bgcolor: rgb(19, 19, 19);
$alpha: 0.7;
$yeseva: "Yeseva One", serif;
$line-height: 1.5;
$fontcolor: #fff;
$btncolor: #e3b873;
$font: FuturaBookC, sans-serif;
$shadow: -1px 5px 20px 0px rgba(227, 184, 115, 0.51);
$displaylink: inline-block;
$bRadius: 2px;
$tablet: 900px;
$mobile: 375px;
$paddingTop: 90px;
$lineWidth: 55px;
$lineHeight: 2px;
$beforeAfterWidth: 32px;
$grey: #8f8f8f;

@font-face {
  font-family: "FuturaBookC";
  src: url("assets/fonts/futurabookc.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

%button {
  text-decoration: none;
  font-family: $font;
  font-size: 0.8125em;
  color: $fontcolor;
  display: $displaylink;
  background-color: $btncolor;
  text-transform: uppercase;
  box-shadow: $shadow;
  border-radius: $bRadius;
}
%beforeAfter {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: $beforeAfterWidth;
  height: $lineHeight;
  background-color: $btncolor;
  border: solid;
  border-width: 0 10px;
}

.button {
  a {
    @extend %button;
    padding: 10px 30px;
    &:hover {
      background-color: darken($btncolor, 15%);
    }
  }
}

.wrapper {
  width: 100%;
  position: relative;
  @include flex(space-between);
  flex-wrap: wrap;
  background-color: $bgcolor;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    .social-link {
      display: none;
    }
    .scroll-down {
      display: none;
    }
    .slider {
      width: 100%;
    }
    .scroll-down {
      display: none;
    }
  }
}
.slider {
  position: relative;
  width: 94.31%;
  background-image: url("assets/images/slider.png");
  background-size: cover;
  background-position: center;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bgcolor, $alpha);
  z-index: 2;
}
.slider--text {
  h1 {
    font-family: $yeseva;
    text-transform: uppercase;
    line-height: $line-height;
    color: $fontcolor;
    font-size: 2.5em;
    font-weight: normal;
    span {
      color: $btncolor;
    }
  }
  p {
    font-family: $font;
    font-size: 1.375em;
    color: $fontcolor;
    line-height: 180%;
  }
  position: relative;
  z-index: 2;
  padding: 190px 0 0 60px;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0 0 0;
    h1 {
      font-size: 1.4375em;
    }
    p {
      font-size: 1.125em;
      margin: 0;
    }
  }
}
.slider--buttons {
  position: relative;
  z-index: 2;
  padding: 30px 0 200px 60px;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    padding: 35px 0 60px 0;
    width: 90%;
    margin: auto;
  }
}
.slider--link {
  @extend %button;
  width: 208px;
  text-align: center;
  padding: 20px 0;
  margin-right: 20px;
  &:hover {
    background-color: darken($btncolor, 15%);
  }
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    width: 100%;
    margin: 20px auto;
  }
}
.slider--link__selected {
  @extend %button;
  background-color: transparent;
  padding: 20px 0;
  width: 208px;
  border: 1.5px solid $fontcolor;
  text-align: center;
  box-shadow: none;
  &:hover {
    background-color: $fontcolor;
    color: $bgcolor;
  }
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    width: 100%;
    margin: 20px auto;
  }
}
.social-link {
  a {
    font-family: $font;
    font-size: 0.875em;
    color: $btncolor;
    text-decoration: none;
    text-transform: uppercase;
  }
  transform: rotate(90deg);
  @include flex(center);
  width: 5.6%;
  height: 100%;
}
.scroll-down {
  a {
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 2;
    text-decoration: none;
    color: $fontcolor;
    font-family: $yeseva;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: $bgcolor;
    padding: 40px 45px;
    display: inline-block;
    &::after {
      content: "\2039";
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      text-align: center;
      padding: 5px 10px;
      color: $btncolor;
      display: inline-block;
      transform: rotate(-90deg);
      margin-left: 20px;
      border: 2px solid $btncolor;
      border-radius: 100%;
    }
  }
}

/*---------Start project-slider section----------*/

.slider-projects {
  padding-top: $paddingTop;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    padding: 35px 0;
    .slider-projects--city {
      display: none;
    }
    .slider-wrapper {
      @include flex(space-between);
      flex-direction: column;
    }
    .slider-projects--slides {
      float: none;
      width: 90%;
      margin: 0 auto;
      order: 1;
    }
    .slider-projects-title {
      width: 100%;
      order: -1;
      padding-left: 0;
      h3 {
        text-align: center;
        margin: 0;
        &::after {
          display: none;
        }
      }
      p {
        text-align: center;
        padding: 35px 0;
        margin: 0;
      }
    }
    .slider-description {
      order: 2;
      padding: 35px 0;
    }
    .slider-pagination {
      display: none;
    }
  }
}
.slider-wrapper {
  width: 100%;
}
.slider-projects-title {
  padding-left: 60px;
  width: 30.7%;
  h3 {
    font-family: $yeseva;
    color: $btncolor;
    font-size: 1.6875em;
    text-transform: uppercase;
    font-weight: normal;
    line-height: $line-height;
    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 90px;
      height: 2px;
      background-color: $btncolor;
      border: solid $bgcolor;
      border-width: 0 35px;
    }
  }
  p {
    color: $fontcolor;
    font-family: $font;
    font-size: 1em;
    line-height: $line-height;
  }
}
.slider-description {
  @include flex(space-between);
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 60px;
}
.slider-description--item {
  width: 50%;
  h4 {
    font-family: $yeseva;
    color: $btncolor;
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: normal;
  }
  p {
    font-family: $font;
    font-size: 0.9375em;
    color: $fontcolor;
  }
}
.slider-projects--slides {
  width: 58.82%;
  overflow: hidden;
  float: right;
  @include flex(flex-start);
  img {
    padding-right: 20px;
  }
}
.slider-projects--city {
  width: 100%;
  ul {
    @include flex(flex-start);
    margin-left: 38.5%;
    padding-bottom: 50px;
    list-style: none;
    a {
      padding-right: 60px;
      font-family: $yeseva;
      font-size: 0.875em;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.3);
      text-decoration: none;
      &:hover {
        color: $btncolor;
        text-decoration: underline;
      }
    }
  }
}
.slider-pagination {
  width: 30.7%;
  padding-left: 60px;
  padding-top: 20px;
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    vertical-align: middle;
    &:hover {
      background-color: $fontcolor;
    }
    &:nth-child(1) {
      background: none;
      width: 40px;
      padding-right: 30px;
    }
    &:nth-child(5) {
      background: none;
      width: 40px;
      padding-left: 20px;
      padding-right: 0;
    }
  }
}

/*---------- Start video section----------*/

.video {
  padding: $paddingTop 0 0 0;
  position: relative;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    padding-top: 50px;
    video {
      width: 90%;
    }
    .description-video {
      padding-top: 20px;
      background-color: $bgcolor;
      p {
        width: 90%;
        padding-top: 20px;
        color: $fontcolor;
      }
    }

    .contact-form {
      width: 100%;
      p {
        padding-bottom: 0;
        text-align: left;
        margin: 0;
      }
      div {
        width: 100%;
        padding: 50px 0;
        &:nth-child(3) {
          order: 4;
          padding-bottom: 0;
        }
      }
      form {
        width: 90%;
        flex-direction: column;
      }
      input[type="text"] {
        border-color: $fontcolor;
      }
      input[type="submit"] {
        width: 340px;
        position: relative;
        bottom: -25px;
      }
    }
  }
}

.video-title {
  text-align: center;
  h3 {
    font-family: $yeseva;
    font-size: 1.25em;
    color: $fontcolor;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
  }
}
.title--icon::before,
.title--icon::after {
  @extend %beforeAfter;
  margin-bottom: 20px;
  border-color: $bgcolor;
}
.video-wrapper {
  position: relative;
  text-align: center;
}
.description-video {
  padding-top: 60px;
  background-color: $fontcolor;
  text-align: center;
  p {
    font-family: $font;
    font-size: 1.25em;
    line-height: 180%;
    width: 54%;
    margin: 0 auto;
    padding: 30px 0 50px 0;
  }
}
.horizontal-line {
  display: block;
}
.horizontal-line span {
  width: $lineWidth;
  height: $lineHeight;
  display: inline-block;
  background-color: $btncolor;
}
.contact-form {
  p {
    font-size: 1em;
    padding: 40px 0 60px 0;
  }
  form {
    @include flex(space-between);
    flex-wrap: wrap;
    align-items: flex-end;
    width: 53.4%;
    margin: 0 auto;
  }
  div {
    width: 30%;
    p {
      font-family: $font;
      margin: 0;
      width: 100%;
      line-height: 130%;
      &:nth-child(1),
      &:nth-child(3) {
        font-size: 0.9375em;
        color: $grey;
        padding: 0;
        text-align: left;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding: 0;
        font-size: 1.125em;
        text-align: left;
      }
    }
  }
  input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1.5px solid;
    border-color: rgba(54, 54, 54, 0.3);
    background-color: transparent;
  }
  input[type="submit"] {
    width: 200px;
    @extend %button;
    border: none;
    padding: 20px 0;
  }
}
.column {
  background-color: $fontcolor;
  padding-top: $paddingTop;
  @media screen and (max-width: $tablet) and (min-width: $mobile) {
    .column-box {
      flex-direction: column;
      align-items: center;
    }
    .column--description {
      margin: 0;
    }
  }
}
.column-title {
  text-align: center;
  h3 {
    padding-bottom: 20px;
    font-family: $yeseva;
    font-size: 1.25em;
    font-weight: normal;
    margin: 0;
  }
  .title--icon::before,
  .title--icon::after {
    border-color: $fontcolor;
  }
}

.column-box {
  @include flex(space-around);
  align-items: center;
  flex-wrap: wrap;
  width: 85.83%;
  margin: 0 auto;
  padding-top: 30px;
  img {
    width: 100%;
  }
}
.column--price {
  @extend %button;
  position: relative;
  bottom: -27px;
  width: 69%;
  font-family: $yeseva;
  font-size: 1.125em;
  text-align: center;
}
.column--description {
  width: 84.18%;
  margin: 0 auto;
  background-color: $fontcolor;
  position: relative;
  bottom: 140px;
  box-shadow: 6px 7px 14px 0px rgba(0, 0, 0, 0.22);
  h4 {
    font-family: $yeseva;
    font-size: 1.125em;
    font-weight: normal;
    padding: 25px 0 20px 35px;
    margin: 0;
  }
  ul {
    font-family: $font;
    font-size: 0.9375em;
    color: $grey;
    line-height: 180%;
    margin: 0;
    padding-left: 45px;
    //padding-bottom: 35px;
  }
}
