@import "_header.scss";

$bgcolor: rgb(19, 19, 19);
$alpha: 0.7;
$yeseva: "Yeseva One", serif;
$line-height: 1.5;
$fontcolor: #fff;
$btncolor: #e3b873;
$font: FuturaBookC, sans-serif;
$shadow: -1px 5px 20px 0px rgba(227, 184, 115, 0.51);
$displaylink: inline-block;
$bRadius: 2px;
$tablet: 900px;

@font-face {
  font-family: "FuturaBookC";
  src: url("assets/fonts/futurabookc.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

%button {
  text-decoration: none;
  font-family: $font;
  font-size: 0.8125em;
  color: $fontcolor;
  display: $displaylink;
  background-color: $btncolor;
  text-transform: uppercase;
  box-shadow: $shadow;
  border-radius: $bRadius;
}

.button {
  a {
    @extend %button;
    padding: 10px 30px;
    &:hover {
      background-color: darken($btncolor, 15%);
    }
  }
}

.wrapper {
  width: 100%;
  position: relative;
  @include flex(space-between);
  flex-wrap: wrap;
  background-color: $bgcolor;
  @media screen and (max-width: $tablet) {
    & .social-link {
      display: none;
    }
    & .scroll-down {
      display: none;
    }
    & .slider {
      width: 100%;
    }
  }
}
.slider {
  position: relative;
  width: 94.31%;
  background-image: url("assets/images/slider.png");
  background-size: cover;
  background-position: center;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($bgcolor, $alpha);
  z-index: 1;
}
.slider--text {
  h1 {
    font-family: $yeseva;
    text-transform: uppercase;
    line-height: $line-height;
    color: $fontcolor;
    font-size: 2.5em;
    font-weight: normal;
    span {
      color: $btncolor;
    }
  }
  p {
    font-family: $font;
    font-size: 1.375em;
    color: $fontcolor;
    line-height: 180%;
  }
  position: relative;
  z-index: 2;
  padding: 190px 0 0 60px;
}
.slider--buttons {
  position: relative;
  z-index: 2;
  padding: 30px 0 200px 60px;
}
.slider--link {
  @extend %button;
  width: 208px;
  text-align: center;
  padding: 20px 0;
  margin-right: 20px;
  &:hover {
    background-color: darken($btncolor, 15%);
  }
}
.slider--link__selected {
  @extend %button;
  background-color: transparent;
  padding: 20px 0;
  width: 208px;
  border: 1.5px solid $fontcolor;
  text-align: center;
  box-shadow: none;
  &:hover {
    background-color: $fontcolor;
    color: $bgcolor;
  }
}
.social-link {
  a {
    font-family: $font;
    font-size: 0.875em;
    color: $btncolor;
    text-decoration: none;
    text-transform: uppercase;
  }
  transform: rotate(90deg);
  @include flex(center);
  width: 5.6%;
  height: 100%;
}
.scroll-down {
  a {
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 2;
    text-decoration: none;
    color: $fontcolor;
    font-family: $yeseva;
    font-size: 0.875em;
    text-transform: uppercase;
    font-weight: normal;
    background-color: $bgcolor;
    padding: 40px 45px;
    display: inline-block;
    &::after {
      content: "\2039";
      font-weight: bold;
      position: relative;
      vertical-align: middle;
      text-align: center;
      padding: 5px 10px;
      color: $btncolor;
      display: inline-block;
      transform: rotate(-90deg);
      margin-left: 20px;
      border: 2px solid $btncolor;
      border-radius: 100%;
    }
  }
}
